@model IEnumerable<Projeto2DW.Models.Aluno>

@{
    ViewData["Title"] = "Alunos";
}

<h1>Aluno</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar novo aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.AlunoId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.AlunoId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AlunoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
