@model IEnumerable<Projeto2DW.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuário</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar novo usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.UsuarioId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.UsuarioId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UsuarioId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
