@model IEnumerable<Projeto2DW.Models.Matricula>

@{
    ViewData["Title"] = "Matriculas";
}

<h1>Matriculas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar nova matricula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAluno)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MatriculaId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.MatriculaId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MatriculaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
